/* reset.css */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  outline: none;
}
html { height: 101%; } /* always display scrollbars */
body { font-size: 62.5%; line-height: 1; font-family: Arial, Tahoma, Verdana, sans-serif; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
ol, ul { list-style: none; }

blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
strong { font-weight: bold; } 

input { outline: none; }

table { border-collapse: collapse; border-spacing: 0; }
img { border: 0; max-width: 100%; }

a { text-decoration: none; }
a:hover { text-decoration: underline; }

@import url(https://fonts.googleapis.com/css?family=Montserrat);

body {
  font-family: 'Montserrat', sans-serif;
  font-size:18px;
}

ul {
  list-style: none;
}

a {
  color:#fff;
}

a:hover {
  text-decoration:none;
  color:#fff;
}

.container-fluid {
  padding:0;
  margin:0 auto;
}

#nav-toggle {
  margin:65px 0 0 35px;
  z-index:1000;
}

.active {
  position:fixed;
}

.footer_nav li {
  display:block;
  float:left;
}

.top_part {
  height:184px;
}

.menu {
  width:100%;
  height:100%;
  z-index: 100;
  display:none;
  position:fixed;
  opacity:1;
  background-color:#fff;
}

.nav li a {
  color:black;
  font-size:30px;
  font-weight:bold;
  padding:20px;
  text-align:center;
}

.nav .active {
  background-color:#eaeaea;
}

.nav {
  padding-top:250px;
}

.logo {
  padding-top:72px;
  float:right;
  margin-right:5%;
}

.sub_banner {
  height:300px;
  background-color:#231f20;
  border-bottom:1px solid #3b3936;
  text-align:center;
}

.subject {
  margin:auto;
  color:#fff;
  padding:100px 0 15px;
  font-weight:bold;
  font-size:38px;
}

.work {
  color:#777;
}

.portfolio {
  height:auto;
  width:100%;
}

.case {
  width:50%;
  height:auto;
  margin:0;
  padding:0;
  float:left;
  cursor:pointer;
}

.load_more {
  height:201px;
  text-align:center;
  clear:both;
  padding:79.5px 0;
}

.load_more  div {
  height:100%;
}

.load_more button {
  border-radius:20px;
}

.social {
  height:202px;
  width:100%;
  border-top:2px solid #f8f8f8;
  border-bottom:2px solid #f8f8f8;
  float:left;
  margin-bottom:-1px;
  line-height:202px;
  text-align:center;
  font-size:48px;
}

.social a {
  color:#2b2b2b;
}

.social a:hover {
  color:#fff;
}

.facebook, .twitter, .linkedin, .behance, .dribble, .instagram {
  height:198px;
  width:16.66%;
  float:left;
}

.facebook:hover {
  background-color:#3b5998;
}
.twitter:hover {
  background-color:#2bcfe5;
}

.linkedin:hover {
  background-color:#0e76a8;
}

.behance:hover {
  background-color:#005cff;
}

.dribble:hover {
  background-color:#3f729b;
}

.instagram:hover {
  background-color:#3f729b;
}

.footer {
  height:421px;
  text-align:center;
}

.footer h4 {
  margin:101px 0 17px 0;
  font-size:22px;
  font-weight:bold;
}

.line {
  height:1px;
  width:98px;
  background-color:#ccc;
  margin: auto;
  margin-bottom:15px;
}

p span {
  border-bottom:1px solid #cb6f6d;
}

.contact_us, .twitter_updates, .dribble_shots {
  min-height:421px;
  height:auto;
  padding:0;
}

.twitter_updates {
  min-height:422px;
  background-color:#333;
  color:#fff;
  margin-top:-1px;
  border-top:1px solid #989898;
  line-height:20px;
}

.contact_us p, .twitter_updates p {
  line-height:20px;
  letter-spacing: 0.7px
}

.twitter_updates p {
  margin-bottom:10px;
}

.contact_us p {
  color:#777;
  margin-bottom:20px;
}



.copyright {
  height:91px;
  background-color:#231f20;
  color:#fff;
}

.copyright {
  text-align:left;
}

.copyright ul {
  float:right;
}

.copyright ul {
  padding-top:37px;
}

.copyright ul li , .copyright ul li a {
  padding:0 15px 0 0;
}

.copyright ul li:nth-child(9) , .copyright ul li:nth-child(9) a {
  padding:0;
}

.copy {
  float:left;
  margin-left:5%;
  line-height:91px;
}

.dribbble_shots {
  width:395px;
  height:200px;
  margin:0 auto !important;
}

.dribbble_shots div {
  width:95px;
  height:95px;
}

.img_1 {
  background: url(../images/widget.jpg) 0 0;
  margin:0 5px 5px 0;
  float:left;
}

.img_2 {
  background: url(../images/widget.jpg) -105px 0;
  margin:0 5px 5px 0;
  float:left;
}

.img_3 {
  background: url(../images/widget.jpg) -210px 0;
  margin:0 5px 5px 0;
  float:left;
}

.img_4 {
  background: url(../images/widget.jpg) -315px 0;
  margin:0 0 5px 0;
  float:right; 
}

.img_5 {
  background: url(../images/widget.jpg) 0 -105px;
  margin:0 5px 0 0;
  float:left;
}

.img_6 {
  background: url(../images/widget.jpg) -105px -105px;
  margin:0 5px 0 0;
  float:left;
}

.img_7 {
  background: url(../images/widget.jpg) -210px -105px;
  margin:0 5px 0 0;
  float:left;
}

.img_8 {
  background: url(../images/widget.jpg) -315px -105px;
  float:right;
}

/* button styles */
.button {
  width: 207px;
  height:42px;
  display: block;
  margin: auto;
  border: none;
  vertical-align: middle;
  position: relative;
  z-index: 1;
  line-height: 23px;
  -webkit-backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}
.button:focus {
  outline: none;
}
.button > span {
  vertical-align: middle;
}
.button.button--saqui {
  overflow: hidden;
  color: #fff;
  background: #cb6f6d;
  -webkit-transition: background-color 0.3s ease-in, color 0.3s ease-in;
  transition: background-color 0.3s ease-in, color 0.3s ease-in;
}
.button--saqui.button--inverted {
  background: #fff;
  color: #37474f;
}
.button--saqui::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 10px 2em;
  color: #37474f;
  -webkit-transform-origin: -25% 50%;
  transform-origin: -25% 50%;
  -webkit-transform: rotate3d(0, 0, 1, 45deg);
  transform: rotate3d(0, 0, 1, 45deg);
  -webkit-transition: -webkit-transform 0.3s ease-in;
  transition: transform 0.3s ease-in;
}
.button--saqui.button--inverted::after {
  color: #fff;
}
.button--saqui:hover::after,
.button--saqui:hover {
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.button--saqui:hover {
  background-color: #6d940f;
  color: #7986cb;
}
.button--saqui.button--inverted:hover {
  background-color: #6d940f;
  color: #3f51b5;
}
.button--saqui:hover::after {
  -webkit-transform: rotate3d(0, 0, 1, 0deg);
  transform: rotate3d(0, 0, 1, 0deg);
}

/* button styles ends */

@media all and (max-width:1200px) {
  .dribbble_shots {
    width:200px;
    height:auto;
    margin-bottom:50px;
  }

  .footer h4 {
    margin-top:20px;
  }

  .img_2 {
    margin:0 0 5px 0;
    float:right;
  }

  .img_6 {
    margin:0 0 5px 0;
    float:right;
  }

  .img_7 {
    margin:5px 0 0 0;
  }

  .contact_us,.dribble_shots {
    min-height:486px;
  }
  .twitter_updates {
    min-height:487px;
  }
}

@media (max-width:991px) {
  .footer h4 {
      margin-top:80px;
  }

  .dribble_shots {
    min-height:601px;
  }

  .contact_us {
    min-height:370px;
  }

  .twitter_updates {
    min-height:320px;
  }

  .img_2 {
    margin:0 0 5px 0;
    float:right;
  }

  .img_6 {
    margin:0 0 5px 0;
    float:right;
  }

  .img_7 {
    margin:5px 0 0 0;
  }

  .copyright ul {
    display:none;
  }

  .copy {
    width:100%;
    margin:0;
    text-align:center;
  }
}

@media all and (max-width:800px) {
  .portfolio img {
    width:100%;
    height:auto;
  }
}

@media all and (max-width:400px) {
  .copy {
    font-size:12px;
  }

  .social {
    height:auto;
    width:100%;
  }

  .social a {
    width:100%;
  }
}
